html, body {
    height: 100%;
    margin: 0;
    background-color: #f7f7f7;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
#message-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.message {
    max-width: 60%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    color: #333;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: visible;
}

.sent {
    background-color: rgba(211, 211, 211, 0.7);
    align-self: flex-end;
}
.received {
    background-color: rgba(211, 211, 211, 0.7);
    align-self: flex-start;
}
#chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
}
#chat-input input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
}
#chat-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6c757d;
    color: white;
    cursor: pointer;
    outline: none;
}
#chat-input button:hover {
    background-color: #5a6268;
}